<!doctype html>
<head>
    <title>Pexo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <style>
    .content {
      max-width: max-content;
      margin: auto; 
      }
    div {
        margin-bottom: 1px;
      }
    label {
        display: inline-block;
        width: 300px;
        text-align: right;
      }
    </style>
</head>
<html>
   <body>
     <main>
        <div class="content">
        <div class="text-center">
          <h1>Welcome to Pexo</h1> 
            <img src="{{ url_for('static', filename='images/exoplanet.svg') }}" alt="Exoplanet" width="192" height="192"/>
        </div><br>

        <form method="post" action="{{url_for('results')}}">
              
           
                <div class="text-center" style=" height: 110px; margin: 20px; background:#FFAE00;">
                <br><h5>Choose an exoplanet from the list:</h5>
                <input  list="exoplanets" name="exoplanet" id="exoplanet" style="width: 600px;" required>
                    <datalist id="exoplanets">
                        {% for exoplanet in exoplanets %}
                            <div class="exoplanet">
                              <option value ="{{exoplanet}}">
                            </div>
                        {% endfor %}
                    </datalist><br>
                </div>

                <div style=" height: 130px; padding-right: 20px; margin: 20px; background:#224E7D; color:white">
                <br>  
                <div>
                    <label><h5>Enter your weight:</h5></label>
                    <input type="float"  id="weight" name="weight" required>
                    <input type="radio" id="kilograms" name="weight" value="kilograms" required> kilograms
                    <input type="radio" id="pounds" name="weight" value="pounds" required> pounds
                </div><br> 
 
                <div>
                <label><h5>Enter your birthdate:</h5></label> 
                <input type="date"  id="birthday" name="birthday" required>
                </div><Br>
                </div>

                  <br><div class="text-center">
                    <button type="submit">Calculate!</button>
                  </div>   
            </div>         
        </form>
     </main>      
   </body>
</html>